version: "3.6"
services:
  app:
    image: "ruby:3.2"
    environment:
      - "POSTGRES_URL=postgres://postgres:@postgres:5432/postgres"
      - "MONGODB_URL=mongo://root:example@mongodb:27017/test_case_database"
    volumes:
      - "$PWD:/home/app"
    working_dir: "/home/app"
    command: "./benchmark -c/home/app/cases.yml -s -b1_000_000 -w10_000 -C50 -d"

  optimized_postgres:
    image: "postgres:15.3"
    environment:
      - "POSTGRES_HOST_AUTH_METHOD=trust"
    volumes:
      - "$PWD/configs/postgres.conf:/etc/postgresql/postgresql.conf"

  async_postgres:
    image: "postgres:15.3"
    environment:
      - "POSTGRES_HOST_AUTH_METHOD=trust"
    volumes:
      - "$PWD/configs/async_postgres.conf:/etc/postgresql/postgresql.conf"

  cluster_mongodb:
    image: "mongo:6.0.6"
    command: "--journal --wiredTigerCacheSizeGB 4"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  mongodb:
    image: "mongo:6.0.6"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
